In [ ]:
#Scraping indeed website

In [1]:
import urllib
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import re
from time import sleep
import urllib.request
import numpy as np

In [ ]:
####################################################################

In [2]:
link = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 1000 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.
i = 0
results = []
df1 = pd.DataFrame(columns=["Title","Location","Company","Salary", "Summary", "Description", "Review"])
for city in set(['Los+Angeles','New+York', 'Jersey+City']):
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        url = link.format(city, start)
        # Append to the full set of results
        html = requests.get(url)
        soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
        for each in soup.find_all(class_= "result" ):
            try: 
                title = each.find(class_='jobtitle').text.replace('\n', '')
            except:
                title = None
            try:
                location = each.find('span', {'class':"location" }).text.replace('\n', '')
            except:
                location = None
            try: 
                company = each.find(class_='company').text.replace('\n', '')
            except:
                company = None
            try:
                salary = each.find('span', {'class':'no-wrap'}).text
            except:
                salary = None
            try:
                summary = each.find('span', {'class':'summary'}).text.replace('\n', '')
            except:
                summary = None
            try: 
                description_link = ("%s%s" % ("https://www.indeed.com",each.find('a').get('href')))
            except:
                description_link = 'None'
            try:
                review_link = ("%s%s" % ("https://www.indeed.com",each.find('div').find('a').get('href')))            
            except: 
                review_link = 'None'
            df1 = df1.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary, 'Summary':summary,\
                                      'Description':description_link, 'job_description': None, 'Review': review_link,\
                           'comp_rating_overall': None, 'wl_bal_rating': None, 'benefit_rating': None, 'jsecurity_rating': None,\
                            'mgmt_rating': None, 'culture_rating': None}, ignore_index=True)
    sleep(1)

In [6]:
df = pd.read_csv('jobs_desc_ratings.csv')

(39799, 14)

In [8]:
df1.shape

(4264, 14)

In [9]:
df2 = pd.concat([df,df1], axis=0)

In [11]:
df2.to_csv('first_jobs_scraping.csv', index = False)

In [12]:
df2 = pd.read_csv('first_jobs_scraping.csv')

In [15]:
df3 = df1.iloc[:2000,:]
df4 = df1.iloc[2000:4265,:]

In [18]:
def get_jobdesc(df):
    for i in range(0,len(df)):
        company_name = df.iloc[i]['Company']
        desc = df.iloc[i]['Description']
        html = requests.get(desc)
        soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
        try:
            df.loc[df['Company'] == company_name, 'job_description'] = soup.find(class_="jobsearch-JobComponent-description icl-u-xs-mt--md").text.replace('\n', ' ')
        except:
            df.loc[df['Company'] == company_name, 'job_description'] = 'None'
        sleep(0.10)
    return df

In [19]:
def get_jobdesc_again(df):
    for i in range(0,len(df)):
        if(df.iloc[i]['job_description'] == 'None'):
            company_name = df.iloc[i]['Company']
            desc = df.iloc[i]['Description']
            html = requests.get(desc)
            soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
            try:
                df.loc[df['Company'] == company_name, 'job_description'] = soup.find(class_="jobsearch-JobComponent-description icl-u-xs-mt--md").text.replace('\n', ' ')
            except:
                df.loc[df['Company'] == company_name, 'job_description'] = 'None'
            sleep(0.10)
    return df

In [20]:
def get_reviews(df):
    for i in range(0,len(df)):
        if(df.iloc[i]['Review'] != 'None'):
            company_name = df.iloc[i]['Company']
            cmp_page = df.iloc[i]['Review']
            html = requests.get(cmp_page)
            soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
            try:
                df.loc[df['Company'] == company_name, 'comp_rating_overall'] = float(soup.find(class_="cmp-header-rating-average").text.replace('\n', ' '))
            except:
                df.loc[df['Company'] == company_name, 'comp_rating_overall'] = 'None'
            try:
                df.loc[df['Company'] == company_name, 'wl_bal_rating'] = float(soup.find("div",{"class": "cmp-ReviewCategory cmp-ReviewCategory--textmd"}).\
                        find_all("span", {"class": "cmp-ReviewCategory-rating"})[0].text.replace('\n', ' '))
            except:
                df.loc[df['Company'] == company_name, 'wl_bal_rating'] = 'None'
            try:
                df.loc[df['Company'] == company_name, 'benefit_rating'] = float(soup.find("div",{"class": "cmp-ReviewCategory cmp-ReviewCategory--textmd"}).\
                        find_all("span", {"class": "cmp-ReviewCategory-rating"})[1].text.replace('\n', ' '))
            except:
                df.loc[df['Company'] == company_name, 'benefit_rating'] = 'None'
            try:
                df.loc[df['Company'] == company_name, 'jsecurity_rating'] = float(soup.find("div",{"class": "cmp-ReviewCategory cmp-ReviewCategory--textmd"}).\
                        find_all("span", {"class": "cmp-ReviewCategory-rating"})[2].text.replace('\n', ' '))
            except:
                df.loc[df['Company'] == company_name, 'jsecurity_rating'] = 'None'
            try:
                df.loc[df['Company'] == company_name, 'mgmt_rating'] = float(soup.find("div",{"class": "cmp-ReviewCategory cmp-ReviewCategory--textmd"}).\
                        find_all("span", {"class": "cmp-ReviewCategory-rating"})[3].text.replace('\n', ' '))
            except:
                df.loc[df['Company'] == company_name, 'mgmt_rating'] = 'None'
            try:
                df.loc[df['Company'] == company_name, 'culture_rating'] = float(soup.find("div",{"class": "cmp-ReviewCategory cmp-ReviewCategory--textmd"}).\
                        find_all("span", {"class": "cmp-ReviewCategory-rating"})[4].text.replace('\n', ' '))
            except:
                df.loc[df['Company'] == company_name, 'culture_rating'] = 'None'
            sleep(0.10)
    return df

In [ ]:
df1.to_csv('jobs_desc_ratings.csv', index = False)
df1 =  pd.read_csv('jobs_desc_ratings.csv')

In [25]:
df1_0 = df4.copy()

In [26]:
df1_0_0 = get_jobdesc(df1_0)
df1_0_1 = get_jobdesc_again(df1_0_0)
df1_0_2 = get_reviews(df1_0_1)

In [ ]:
#df1_0_3.to_csv('job_desc_ratings.csv', index = False)

In [27]:
df4_new = df1_0_2.copy()

In [28]:
df5 = pd.concat([df3_new, df4_new], axis = 0)

In [30]:
df5.to_csv('39800_44064.csv', index = False)

In [69]:
df5 = pd.read_csv('39800_44064.csv')

In [70]:
df5

,Title,Location,Company,Salary,Summary,Description,Review,benefit_rating,comp_rating_overall,culture_rating,job_description,jsecurity_rating,mgmt_rating,wl_bal_rating
0,Python Data Engineer,NaN,SRS Investment Management,NaN,You’ll be joining ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,NaN,NaN,NaN,What’s the Job?SRS Investment Management is a ...,NaN,NaN,NaN
1,Applied Machine Learning Scientist/Engineer - ...,NaN,Bloomberg,NaN,Information and da...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Bloomberg,3.8,3.9,3.8,"At Bloomberg, our products are fueled by power...",3.4,3.3,3.7
2,EpicCare Analyst,NaN,NYU Langone Health,NaN,Analyze data conve...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
3,Data Scientist,"Jersey City, NJ",Carter McKenzie Inc.,"\r\n $120,000 - $150,000 a year",Data engineering experience with large and/or ...,https://www.indeed.com/company/Carter-McKenzie...,None,NaN,NaN,NaN,Responsibilities: Develop new solutions and st...,NaN,NaN,NaN
4,Associate Data Scientist,"Hoboken, NJ",Wiley,NaN,Associate Data Scientist. The Asso...,https://www.indeed.com/rc/clk?jk=361c44860efbc...,https://www.indeed.com/cmp/Wiley,3.7,3.9,3.7,"VP, Data Analytics & Insights This position w...",3.1,3.3,4.1
5,Data Scientist,"New York, NY",Rent the Runway,NaN,Mine the data ecosystem & find fru...,https://www.indeed.com/rc/clk?jk=171566291d439...,https://www.indeed.com/cmp/Rent-the-Runway,3.0,3.5,3.5,Desired: JavaRPythonAbout Rent the Runway: Rec...,3.1,3.1,3.2
6,Data Scientist (Entry-Level),"New York, NY",First Derivatives plc,NaN,First Derivatives plc is currently...,https://www.indeed.com/company/First-Derivativ...,https://www.indeed.com/cmp/First-Derivatives-PLC,3.0,3.2,2.6,Job DescriptionFirst Derivatives plc is curren...,2.9,2.4,2.9
7,Junior Data Scientist,"New York, NY 10155 (Midtown area)",HOMER,NaN,"As a Junior Data Scientist, you wi...",https://www.indeed.com/rc/clk?jk=dbab22c906a9a...,None,NaN,NaN,NaN,HOMER is looking for an exceptional Junior Dat...,NaN,NaN,NaN
8,NLP and Machine Learning Internship,"New York, NY",Mei Messaging,\r\n $12.00 - $12.50 an hour,We combine data and machine learni...,https://www.indeed.com/company/Mei/jobs/Nlp-Ma...,None,NaN,NaN,NaN,Mei is a unique messaging app (www.textmei.com...,NaN,NaN,NaN
9,Data Scientist,"New York, NY",Scienaptic Systems Inc,NaN,Results attribution to core loss e...,https://www.indeed.com/company/Scienaptic-Syst...,None,NaN,NaN,NaN,Job SummaryRole Summary/PurposeThis role is wi...,NaN,NaN,NaN
10,Data Scientist,"New York, NY 10016 (Gramercy area)",Aetna,NaN,Strong programming and data manipu...,https://www.indeed.com/rc/clk?jk=f096333437c5e...,https://www.indeed.com/cmp/Aetna,3.7,3.8,3.6,Position Mission/Summary: Looking for opportun...,3.3,3.3,3.7
11,Data Scientist,"Nutley, NJ",Modern Meadow,NaN,As we continue to grow we are seek...,https://www.indeed.com/rc/clk?jk=340824b50f1b3...,None,NaN,NaN,NaN,Modern Meadow™ is pioneering biologically adva...,NaN,NaN,NaN
12,NLP and Machine Learning Recent Grad,"New York, NY",Mei Messaging,\r\n $25.00 - $25.50 an hour,We combine data and machine learni...,https://www.indeed.com/company/Mei/jobs/Nlp-Ma...,None,NaN,NaN,NaN,Mei is a unique messaging app (www.textmei.com...,NaN,NaN,NaN
13,Research Data Associate,NaN,NYU Langone Health,NaN,Extracts data for ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
14,2019 Equity Research Data Analyst,NaN,Bloomberg,NaN,2019 Equity Resear...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Bloomberg,3.8,3.9,3.8,"At Bloomberg, our products are fueled by power...",3.4,3.3,3.7
15,Research Data Associate,NaN,NYU Langone Health,NaN,Extracts data for ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
16,Research Data Associate-ECHO,NaN,NYU Langone Health,NaN,Assist with study ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
17,EpicCare Analyst,NaN,NYU Langone Health,NaN,Analyze data conve...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
18,Data Scientist,"Township of Woodbridge, NJ",Nadella Info Technologies Pvt Ltd,\r\n $65 - $70 an hour,Proven experience as a Data Scient...,https://www.indeed.com/company/Nadella-Info-Te...,None,NaN,NaN,NaN,"Job SummaryRole: Data ScientistLocation: NYC, ...",NaN,NaN,NaN
19,Data Scientist,"New York, NY",Trialspark,NaN,"As a Data Scientist at Trialspark,...",https://www.indeed.com/rc/clk?jk=50d243af4c3c2...,None,NaN,NaN,NaN,---------- Background ---------- Trialspark i...,NaN,NaN,NaN
20,Data Science Intern,"New York, NY",Vox Media,NaN,Data Scientists are responsible for delivering...,https://www.indeed.com/rc/clk?jk=5a5f961b5fa31...,https://www.indeed.com/cmp/Vox-Media,3.5,3.9,3.9,Desired: Machine LearningPythonSQLVox Media em...,3.2,3.5,4.2
21,Data Scientist (NYC),"New York, NY 10018 (Clinton area)",DonorsChoose.org,NaN,Web analytics and event data. Are ...,https://www.indeed.com/rc/clk?jk=553df36b7ebc6...,https://www.indeed.com/cmp/Donorschoose.org,3.0,4.8,4.5,DonorsChoose.org engages the public in public ...,2.3,4.0,4.8
22,Data Scientist,"New York, NY 10001 (Chelsea area)",Comcast,NaN,Freewheel is currently looking to ...,https://www.indeed.com/rc/clk?jk=c25dd7bf92018...,https://www.indeed.com/cmp/Comcast,3.9,3.7,3.5,"FreeWheel, a Comcast company, has superior end...",3.3,3.3,3.5
23,Data & Analysis Intern,"New York, NY",Bright Power,NaN,The Data & Analysis intern will he...,https://www.indeed.com/rc/clk?jk=383d484aa85eb...,https://www.indeed.com/cmp/Bright-Power,3.0,3.0,3.0,We collect and analyze thousands of utility bi...,2.0,3.0,4.5
24,Data Science - Data Scientist - New York,"Jersey City, NJ",Capgemini,NaN,Candidates should be flexible / wi...,https://www.indeed.com/rc/clk?jk=62a7b89f0d381...,https://www.indeed.com/cmp/Capgemini,3.3,3.8,3.6,Candidates should be flexible / willing to wor...,3.6,3.4,3.7
25,"Data Scientist, Premium Content","New York, NY 10011 (Chelsea area)",Spotify,NaN,You would be joining Spotify on th...,https://www.indeed.com/rc/clk?jk=a0f5f0cfbe59a...,https://www.indeed.com/cmp/Spotify,3.9,4.4,4.3,As Spotify Premium swells to over 80M subscrib...,3.3,3.4,4.0
26,Data Scientist,"Woodcliff Lake, NJ",BMW North America,NaN,Put yourself in the driver's seat ...,https://www.indeed.com/rc/clk?jk=50431d7257479...,https://www.indeed.com/cmp/BMW,3.7,4.0,3.7,"BMW Financial Services NA, LLC is one of the t...",3.5,3.5,3.7
27,Digital Data Scientist - Marketing Analyst,"Secaucus, NJ",The Children's Place,NaN,Must be a self-motivator and enjoy...,https://www.indeed.com/rc/clk?jk=69886b973c1f8...,https://www.indeed.com/cmp/The-Children's-Place,3.0,3.7,3.5,"Location: Secaucus, New Jersey Job Summary: W...",3.1,3.4,3.6
28,Python Data Engineer,NaN,SRS Investment Management,NaN,You’ll be joining ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,NaN,NaN,NaN,What’s the Job?SRS Investment Management is a ...,NaN,NaN,NaN
29,2019 Equity Research Data Analyst,NaN,Bloomberg,NaN,2019 Equity Resear...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Bloomberg,3.8,3.9,3.8,"At Bloomberg, our products are fueled by power...",3.4,3.3,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4234,Technical Proposal Systems Engineer,"Torrance, CA",The Patriot Group,NaN,"Employs around 300 people, includi...",https://www.indeed.com/company/The-Patriot-Gro...,None,NaN,NaN,NaN,Desired: Technical WritingTechnical Proposal S...,NaN,NaN,NaN
4235,Propulsion Engineering Lead/Sr. Propulsion Eng...,"El Segundo, CA 90245",The Aerospace Corporation,NaN,Ability to prepare and present tec...,https://www.indeed.com/rc/clk?jk=a17655861aa64...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1
4236,Space Systems Test and Evaluation Engineer - E...,"El Segundo, CA 90245",The Aerospace Corporation,NaN,Our state-of-the-art laboratory fa...,https://www.indeed.com/rc/clk?jk=eab96496fca9c...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1
4237,Sr. Software Engineer - Cyber Security,"El Segundo, CA 90245",The Aerospace Corporation,NaN,Our state-of-the-art laboratory fa...,https://www.indeed.com/rc/clk?jk=ec63b4335c6dc...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1
4238,Bioanalytical Scientist,NaN,Fulgent Pharma LLC,NaN,Prepare bioanalyti...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,NaN,NaN,NaN,About Fulgent Pharma: Fulgent Pharma was found...,NaN,NaN,NaN
4239,"Scientist, Product Development",NaN,Beachbody,NaN,Product Developmen...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Beachbody,3.9,4.0,4.0,"Beachbody, the leader of in-home fitness progr...",3.2,3.4,4.0
4240,"Associate Scientist I, Product Development",NaN,Beachbody,NaN,What will you be d...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Beachbody,3.9,4.0,4.0,"Beachbody, the leader of in-home fitness progr...",3.2,3.4,4.0
4241,Highly Experienced Senior FPGA + SW Engineer,"Pasadena, CA",Jet Propulsion Laboratory,NaN,Experience designing instrument co...,https://www.indeed.com/rc/clk?jk=8b82cd2196300...,https://www.indeed.com/cmp/Jet-Propulsion-Labo...,4.0,4.2,4.1,"Overview New ideas are all around us, but o...",3.7,3.6,4.2
4242,Sr. Space Vehicle System Engineer GEO,"El Segundo, CA 90245",The Aerospace Corporation,"\r\n $112,000 - $143,000 a year...","Risk, data, test, and configuratio...",https://www.indeed.com/rc/clk?jk=64d3e87e7fecf...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1
4243,Experienced Systems Architecture Modeling & Si...,"El Segundo, CA 90245",BOEING,NaN,Skilled scientists and thinkers. P...,https://www.indeed.com/rc/clk?jk=f9b0d677e8af4...,https://www.indeed.com/cmp/Boeing,4.2,4.0,3.6,"El Segundo,California,United States 6C1LP5 Boe...",3.4,3.4,3.8
4244,NLP Engineering and Delivery Team Lead - Analy...,"Los Angeles, CA",Wells Fargo,NaN,Collaborate with data scientists t...,https://www.indeed.com/rc/clk?jk=15331dd656359...,https://www.indeed.com/cmp/Wells-Fargo,3.8,3.8,3.6,Overview: Wells Fargo technology teams drive i...,3.4,3.4,3.7
4245,Senior Project Engineer - Avionics Test Platforms,"El Segundo, CA 90245",BOEING,NaN,Skilled scientists and thinkers. E...,https://www.indeed.com/rc/clk?jk=1082372c113ea...,https://www.indeed.com/cmp/Boeing,4.2,4.0,3.6,"El Segundo,California,United States 6C1LP5 Boe...",3.4,3.4,3.8
4246,Clinical Trials Supervisor - RN,"Santa Monica, CA 90407",Providence Health & Services,"\r\n $69,000 - $88,000 a year (...",Training the next generation of su...,https://www.indeed.com/rc/clk?jk=e6a58f39d5fdc...,https://www.indeed.com/cmp/Providence-Health-&...,3.6,3.7,3.5,Description: Providence is currently sourcing ...,3.2,3.2,3.6
4247,Technical Proposal Systems Engineer,"Torrance, CA",The Patriot Group,NaN,"Employs around 300 people, includi...",https://www.indeed.com/company/The-Patriot-Gro...,None,NaN,NaN,NaN,Desired: Technical WritingTechnical Proposal S...,NaN,NaN,NaN
4248,Propulsion Engineering Lead/Sr. Propulsion Eng...,"El Segundo, CA 90245",The Aerospace Corporation,NaN,Ability to prepare and present tec...,https://www.indeed.com/rc/clk?jk=a17655861aa64...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1
4249,Space Systems Test and Evaluation Engineer - E...,"El Segundo, CA 90245",The Aerospace Corporation,NaN,Our state-of-the-art laboratory fa...,https://www.indeed.com/rc/clk?jk=eab96496fca9c...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1
4250,Sr. Software Engineer - Cyber Security,"El Segundo, CA 90245",The Aerospace Corporation,NaN,Our state-of-the-art laboratory fa...,https://www.indeed.com/rc/clk?jk=ec63b4335c6dc...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1
4251,Deep Learning Scientist,NaN,"Opto-Knowledge Systems, Inc.",NaN,You will work with...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,NaN,NaN,NaN,We are looking for creative individuals with u...,NaN,NaN,NaN
4252,Biometrics Research Scientist,NaN,"Cogent, a Gemalto Company",NaN,Employees are requ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Gemalto,3.7,3.9,3.7,As a Biometric Research Scientist for the Biom...,3.5,3.5,3.8
4253,Bioanalytical Scientist,NaN,Fulgent Pharma LLC,NaN,Manage bioanalytic...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,NaN,NaN,NaN,About Fulgent Pharma: Fulgent Pharma was found...,NaN,NaN,NaN
4254,Highly Experienced Senior FPGA + SW Engineer,"Pasadena, CA",Jet Propulsion Laboratory,NaN,The selected candidate will also b...,https://www.indeed.com/rc/clk?jk=8b82cd2196300...,https://www.indeed.com/cmp/Jet-Propulsion-Labo...,4.0,4.2,4.1,"Overview New ideas are all around us, but o...",3.7,3.6,4.2
4255,Sr. Space Vehicle System Engineer GEO,"El Segundo, CA 90245",The Aerospace Corporation,NaN,You will partner with the Governme...,https://www.indeed.com/rc/clk?jk=64d3e87e7fecf...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1
4256,Experienced Systems Architecture Modeling & Si...,"El Segundo, CA 90245",BOEING,NaN,Communicating (both written and ve...,https://www.indeed.com/rc/clk?jk=f9b0d677e8af4...,https://www.indeed.com/cmp/Boeing,4.2,4.0,3.6,"El Segundo,California,United States 6C1LP5 Boe...",3.4,3.4,3.8
4257,NLP Engineering and Delivery Team Lead - Analy...,"Los Angeles, CA",Wells Fargo,NaN,Accomplish management responsibili...,https://www.indeed.com/rc/clk?jk=15331dd656359...,https://www.indeed.com/cmp/Wells-Fargo,3.8,3.8,3.6,Overview: Wells Fargo technology teams drive i...,3.4,3.4,3.7
4258,Senior Project Engineer - Avionics Test Platforms,"El Segundo, CA 90245",BOEING,NaN,"Track progress to cost, schedule, ...",https://www.indeed.com/rc/clk?jk=1082372c113ea...,https://www.indeed.com/cmp/Boeing,4.2,4.0,3.6,"El Segundo,California,United States 6C1LP5 Boe...",3.4,3.4,3.8
4259,Clinical Trials Supervisor - RN,"Santa Monica, CA 90407",Providence Health & Services,NaN,Be primarily responsible for patie...,https://www.indeed.com/rc/clk?jk=e6a58f39d5fdc...,https://www.indeed.com/cmp/Providence-Health-&...,3.6,3.7,3.5,Description: Providence is currently sourcing ...,3.2,3.2,3.6
4260,Technical Proposal Systems Engineer,"Torrance, CA",The Patriot Group,NaN,By combining a technical mindset a...,https://www.indeed.com/company/The-Patriot-Gro...,None,NaN,NaN,NaN,Desired: Technical WritingTechnical Proposal S...,NaN,NaN,NaN
4261,Propulsion Engineering Lead/Sr. Propulsion Eng...,"El Segundo, CA 90245",The Aerospace Corporation,NaN,"Actively network with contractors,...",https://www.indeed.com/rc/clk?jk=a17655861aa64...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1
4262,Space Systems Test and Evaluation Engineer - E...,"El Segundo, CA 90245",The Aerospace Corporation,NaN,The Systems Integration and Test O...,https://www.indeed.com/rc/clk?jk=eab96496fca9c...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1
4263,Sr. Software Engineer - Cyber Security,"El Segundo, CA 90245",The Aerospace Corporation,NaN,We support a variety of customers ...,https://www.indeed.com/rc/clk?jk=ec63b4335c6dc...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1

In [76]:
def get_city_state(df,col):
    df = df.join(df[col].str.split(',', 1, expand=True).rename(columns={0:'City', 1:'State'}))
    df['City'] = df['City'].astype(str)
    df['State'] = df['State'].astype(str)
    df['State'] = [x[0:3] for x in df['State'] if x != None]
    df.drop(['Location'], axis = 1, inplace = True)
    return df

In [77]:
df5 = get_city_state(df5, 'Location')

In [78]:
df5

,Title,Company,Salary,Summary,Description,Review,benefit_rating,comp_rating_overall,culture_rating,job_description,jsecurity_rating,mgmt_rating,wl_bal_rating,City,State
0,Python Data Engineer,SRS Investment Management,NaN,You’ll be joining ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,NaN,NaN,NaN,What’s the Job?SRS Investment Management is a ...,NaN,NaN,NaN,nan,nan
1,Applied Machine Learning Scientist/Engineer - ...,Bloomberg,NaN,Information and da...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Bloomberg,3.8,3.9,3.8,"At Bloomberg, our products are fueled by power...",3.4,3.3,3.7,nan,nan
2,EpicCare Analyst,NYU Langone Health,NaN,Analyze data conve...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9,nan,nan
3,Data Scientist,Carter McKenzie Inc.,"\r\n $120,000 - $150,000 a year",Data engineering experience with large and/or ...,https://www.indeed.com/company/Carter-McKenzie...,None,NaN,NaN,NaN,Responsibilities: Develop new solutions and st...,NaN,NaN,NaN,Jersey City,NJ
4,Associate Data Scientist,Wiley,NaN,Associate Data Scientist. The Asso...,https://www.indeed.com/rc/clk?jk=361c44860efbc...,https://www.indeed.com/cmp/Wiley,3.7,3.9,3.7,"VP, Data Analytics & Insights This position w...",3.1,3.3,4.1,Hoboken,NJ
5,Data Scientist,Rent the Runway,NaN,Mine the data ecosystem & find fru...,https://www.indeed.com/rc/clk?jk=171566291d439...,https://www.indeed.com/cmp/Rent-the-Runway,3.0,3.5,3.5,Desired: JavaRPythonAbout Rent the Runway: Rec...,3.1,3.1,3.2,New York,NY
6,Data Scientist (Entry-Level),First Derivatives plc,NaN,First Derivatives plc is currently...,https://www.indeed.com/company/First-Derivativ...,https://www.indeed.com/cmp/First-Derivatives-PLC,3.0,3.2,2.6,Job DescriptionFirst Derivatives plc is curren...,2.9,2.4,2.9,New York,NY
7,Junior Data Scientist,HOMER,NaN,"As a Junior Data Scientist, you wi...",https://www.indeed.com/rc/clk?jk=dbab22c906a9a...,None,NaN,NaN,NaN,HOMER is looking for an exceptional Junior Dat...,NaN,NaN,NaN,New York,NY
8,NLP and Machine Learning Internship,Mei Messaging,\r\n $12.00 - $12.50 an hour,We combine data and machine learni...,https://www.indeed.com/company/Mei/jobs/Nlp-Ma...,None,NaN,NaN,NaN,Mei is a unique messaging app (www.textmei.com...,NaN,NaN,NaN,New York,NY
9,Data Scientist,Scienaptic Systems Inc,NaN,Results attribution to core loss e...,https://www.indeed.com/company/Scienaptic-Syst...,None,NaN,NaN,NaN,Job SummaryRole Summary/PurposeThis role is wi...,NaN,NaN,NaN,New York,NY
10,Data Scientist,Aetna,NaN,Strong programming and data manipu...,https://www.indeed.com/rc/clk?jk=f096333437c5e...,https://www.indeed.com/cmp/Aetna,3.7,3.8,3.6,Position Mission/Summary: Looking for opportun...,3.3,3.3,3.7,New York,NY
11,Data Scientist,Modern Meadow,NaN,As we continue to grow we are seek...,https://www.indeed.com/rc/clk?jk=340824b50f1b3...,None,NaN,NaN,NaN,Modern Meadow™ is pioneering biologically adva...,NaN,NaN,NaN,Nutley,NJ
12,NLP and Machine Learning Recent Grad,Mei Messaging,\r\n $25.00 - $25.50 an hour,We combine data and machine learni...,https://www.indeed.com/company/Mei/jobs/Nlp-Ma...,None,NaN,NaN,NaN,Mei is a unique messaging app (www.textmei.com...,NaN,NaN,NaN,New York,NY
13,Research Data Associate,NYU Langone Health,NaN,Extracts data for ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9,nan,nan
14,2019 Equity Research Data Analyst,Bloomberg,NaN,2019 Equity Resear...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Bloomberg,3.8,3.9,3.8,"At Bloomberg, our products are fueled by power...",3.4,3.3,3.7,nan,nan
15,Research Data Associate,NYU Langone Health,NaN,Extracts data for ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9,nan,nan
16,Research Data Associate-ECHO,NYU Langone Health,NaN,Assist with study ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9,nan,nan
17,EpicCare Analyst,NYU Langone Health,NaN,Analyze data conve...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9,nan,nan
18,Data Scientist,Nadella Info Technologies Pvt Ltd,\r\n $65 - $70 an hour,Proven experience as a Data Scient...,https://www.indeed.com/company/Nadella-Info-Te...,None,NaN,NaN,NaN,"Job SummaryRole: Data ScientistLocation: NYC, ...",NaN,NaN,NaN,Township of Woodbridge,NJ
19,Data Scientist,Trialspark,NaN,"As a Data Scientist at Trialspark,...",https://www.indeed.com/rc/clk?jk=50d243af4c3c2...,None,NaN,NaN,NaN,---------- Background ---------- Trialspark i...,NaN,NaN,NaN,New York,NY
20,Data Science Intern,Vox Media,NaN,Data Scientists are responsible for delivering...,https://www.indeed.com/rc/clk?jk=5a5f961b5fa31...,https://www.indeed.com/cmp/Vox-Media,3.5,3.9,3.9,Desired: Machine LearningPythonSQLVox Media em...,3.2,3.5,4.2,New York,NY
21,Data Scientist (NYC),DonorsChoose.org,NaN,Web analytics and event data. Are ...,https://www.indeed.com/rc/clk?jk=553df36b7ebc6...,https://www.indeed.com/cmp/Donorschoose.org,3.0,4.8,4.5,DonorsChoose.org engages the public in public ...,2.3,4.0,4.8,New York,NY
22,Data Scientist,Comcast,NaN,Freewheel is currently looking to ...,https://www.indeed.com/rc/clk?jk=c25dd7bf92018...,https://www.indeed.com/cmp/Comcast,3.9,3.7,3.5,"FreeWheel, a Comcast company, has superior end...",3.3,3.3,3.5,New York,NY
23,Data & Analysis Intern,Bright Power,NaN,The Data & Analysis intern will he...,https://www.indeed.com/rc/clk?jk=383d484aa85eb...,https://www.indeed.com/cmp/Bright-Power,3.0,3.0,3.0,We collect and analyze thousands of utility bi...,2.0,3.0,4.5,New York,NY
24,Data Science - Data Scientist - New York,Capgemini,NaN,Candidates should be flexible / wi...,https://www.indeed.com/rc/clk?jk=62a7b89f0d381...,https://www.indeed.com/cmp/Capgemini,3.3,3.8,3.6,Candidates should be flexible / willing to wor...,3.6,3.4,3.7,Jersey City,NJ
25,"Data Scientist, Premium Content",Spotify,NaN,You would be joining Spotify on th...,https://www.indeed.com/rc/clk?jk=a0f5f0cfbe59a...,https://www.indeed.com/cmp/Spotify,3.9,4.4,4.3,As Spotify Premium swells to over 80M subscrib...,3.3,3.4,4.0,New York,NY
26,Data Scientist,BMW North America,NaN,Put yourself in the driver's seat ...,https://www.indeed.com/rc/clk?jk=50431d7257479...,https://www.indeed.com/cmp/BMW,3.7,4.0,3.7,"BMW Financial Services NA, LLC is one of the t...",3.5,3.5,3.7,Woodcliff Lake,NJ
27,Digital Data Scientist - Marketing Analyst,The Children's Place,NaN,Must be a self-motivator and enjoy...,https://www.indeed.com/rc/clk?jk=69886b973c1f8...,https://www.indeed.com/cmp/The-Children's-Place,3.0,3.7,3.5,"Location: Secaucus, New Jersey Job Summary: W...",3.1,3.4,3.6,Secaucus,NJ
28,Python Data Engineer,SRS Investment Management,NaN,You’ll be joining ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,NaN,NaN,NaN,What’s the Job?SRS Investment Management is a ...,NaN,NaN,NaN,nan,nan
29,2019 Equity Research Data Analyst,Bloomberg,NaN,2019 Equity Resear...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Bloomberg,3.8,3.9,3.8,"At Bloomberg, our products are fueled by power...",3.4,3.3,3.7,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4234,Technical Proposal Systems Engineer,The Patriot Group,NaN,"Employs around 300 people, includi...",https://www.indeed.com/company/The-Patriot-Gro...,None,NaN,NaN,NaN,Desired: Technical WritingTechnical Proposal S...,NaN,NaN,NaN,Torrance,CA
4235,Propulsion Engineering Lead/Sr. Propulsion Eng...,The Aerospace Corporation,NaN,Ability to prepare and present tec...,https://www.indeed.com/rc/clk?jk=a17655861aa64...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1,El Segundo,CA
4236,Space Systems Test and Evaluation Engineer - E...,The Aerospace Corporation,NaN,Our state-of-the-art laboratory fa...,https://www.indeed.com/rc/clk?jk=eab96496fca9c...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1,El Segundo,CA
4237,Sr. Software Engineer - Cyber Security,The Aerospace Corporation,NaN,Our state-of-the-art laboratory fa...,https://www.indeed.com/rc/clk?jk=ec63b4335c6dc...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1,El Segundo,CA
4238,Bioanalytical Scientist,Fulgent Pharma LLC,NaN,Prepare bioanalyti...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,NaN,NaN,NaN,About Fulgent Pharma: Fulgent Pharma was found...,NaN,NaN,NaN,nan,nan
4239,"Scientist, Product Development",Beachbody,NaN,Product Developmen...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Beachbody,3.9,4.0,4.0,"Beachbody, the leader of in-home fitness progr...",3.2,3.4,4.0,nan,nan
4240,"Associate Scientist I, Product Development",Beachbody,NaN,What will you be d...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Beachbody,3.9,4.0,4.0,"Beachbody, the leader of in-home fitness progr...",3.2,3.4,4.0,nan,nan
4241,Highly Experienced Senior FPGA + SW Engineer,Jet Propulsion Laboratory,NaN,Experience designing instrument co...,https://www.indeed.com/rc/clk?jk=8b82cd2196300...,https://www.indeed.com/cmp/Jet-Propulsion-Labo...,4.0,4.2,4.1,"Overview New ideas are all around us, but o...",3.7,3.6,4.2,Pasadena,CA
4242,Sr. Space Vehicle System Engineer GEO,The Aerospace Corporation,"\r\n $112,000 - $143,000 a year...","Risk, data, test, and configuratio...",https://www.indeed.com/rc/clk?jk=64d3e87e7fecf...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1,El Segundo,CA
4243,Experienced Systems Architecture Modeling & Si...,BOEING,NaN,Skilled scientists and thinkers. P...,https://www.indeed.com/rc/clk?jk=f9b0d677e8af4...,https://www.indeed.com/cmp/Boeing,4.2,4.0,3.6,"El Segundo,California,United States 6C1LP5 Boe...",3.4,3.4,3.8,El Segundo,CA
4244,NLP Engineering and Delivery Team Lead - Analy...,Wells Fargo,NaN,Collaborate with data scientists t...,https://www.indeed.com/rc/clk?jk=15331dd656359...,https://www.indeed.com/cmp/Wells-Fargo,3.8,3.8,3.6,Overview: Wells Fargo technology teams drive i...,3.4,3.4,3.7,Los Angeles,CA
4245,Senior Project Engineer - Avionics Test Platforms,BOEING,NaN,Skilled scientists and thinkers. E...,https://www.indeed.com/rc/clk?jk=1082372c113ea...,https://www.indeed.com/cmp/Boeing,4.2,4.0,3.6,"El Segundo,California,United States 6C1LP5 Boe...",3.4,3.4,3.8,El Segundo,CA
4246,Clinical Trials Supervisor - RN,Providence Health & Services,"\r\n $69,000 - $88,000 a year (...",Training the next generation of su...,https://www.indeed.com/rc/clk?jk=e6a58f39d5fdc...,https://www.indeed.com/cmp/Providence-Health-&...,3.6,3.7,3.5,Description: Providence is currently sourcing ...,3.2,3.2,3.6,Santa Monica,CA
4247,Technical Proposal Systems Engineer,The Patriot Group,NaN,"Employs around 300 people, includi...",https://www.indeed.com/company/The-Patriot-Gro...,None,NaN,NaN,NaN,Desired: Technical WritingTechnical Proposal S...,NaN,NaN,NaN,Torrance,CA
4248,Propulsion Engineering Lead/Sr. Propulsion Eng...,The Aerospace Corporation,NaN,Ability to prepare and present tec...,https://www.indeed.com/rc/clk?jk=a17655861aa64...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1,El Segundo,CA
4249,Space Systems Test and Evaluation Engineer - E...,The Aerospace Corporation,NaN,Our state-of-the-art laboratory fa...,https://www.indeed.com/rc/clk?jk=eab96496fca9c...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1,El Segundo,CA
4250,Sr. Software Engineer - Cyber Security,The Aerospace Corporation,NaN,Our state-of-the-art laboratory fa...,https://www.indeed.com/rc/clk?jk=ec63b4335c6dc...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1,El Segundo,CA
4251,Deep Learning Scientist,"Opto-Knowledge Systems, Inc.",NaN,You will work with...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,NaN,NaN,NaN,We are looking for creative individuals with u...,NaN,NaN,NaN,nan,nan
4252,Biometrics Research Scientist,"Cogent, a Gemalto Company",NaN,Employees are requ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Gemalto,3.7,3.9,3.7,As a Biometric Research Scientist for the Biom...,3.5,3.5,3.8,nan,nan
4253,Bioanalytical Scientist,Fulgent Pharma LLC,NaN,Manage bioanalytic...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,NaN,NaN,NaN,About Fulgent Pharma: Fulgent Pharma was found...,NaN,NaN,NaN,nan,nan
4254,Highly Experienced Senior FPGA + SW Engineer,Jet Propulsion Laboratory,NaN,The selected candidate will also b...,https://www.indeed.com/rc/clk?jk=8b82cd2196300...,https://www.indeed.com/cmp/Jet-Propulsion-Labo...,4.0,4.2,4.1,"Overview New ideas are all around us, but o...",3.7,3.6,4.2,Pasadena,CA
4255,Sr. Space Vehicle System Engineer GEO,The Aerospace Corporation,NaN,You will partner with the Governme...,https://www.indeed.com/rc/clk?jk=64d3e87e7fecf...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1,El Segundo,CA
4256,Experienced Systems Architecture Modeling & Si...,BOEING,NaN,Communicating (both written and ve...,https://www.indeed.com/rc/clk?jk=f9b0d677e8af4...,https://www.indeed.com/cmp/Boeing,4.2,4.0,3.6,"El Segundo,California,United States 6C1LP5 Boe...",3.4,3.4,3.8,El Segundo,CA
4257,NLP Engineering and Delivery Team Lead - Analy...,Wells Fargo,NaN,Accomplish management responsibili...,https://www.indeed.com/rc/clk?jk=15331dd656359...,https://www.indeed.com/cmp/Wells-Fargo,3.8,3.8,3.6,Overview: Wells Fargo technology teams drive i...,3.4,3.4,3.7,Los Angeles,CA
4258,Senior Project Engineer - Avionics Test Platforms,BOEING,NaN,"Track progress to cost, schedule, ...",https://www.indeed.com/rc/clk?jk=1082372c113ea...,https://www.indeed.com/cmp/Boeing,4.2,4.0,3.6,"El Segundo,California,United States 6C1LP5 Boe...",3.4,3.4,3.8,El Segundo,CA
4259,Clinical Trials Supervisor - RN,Providence Health & Services,NaN,Be primarily responsible for patie...,https://www.indeed.com/rc/clk?jk=e6a58f39d5fdc...,https://www.indeed.com/cmp/Providence-Health-&...,3.6,3.7,3.5,Description: Providence is currently sourcing ...,3.2,3.2,3.6,Santa Monica,CA
4260,Technical Proposal Systems Engineer,The Patriot Group,NaN,By combining a technical mindset a...,https://www.indeed.com/company/The-Patriot-Gro...,None,NaN,NaN,NaN,Desired: Technical WritingTechnical Proposal S...,NaN,NaN,NaN,Torrance,CA
4261,Propulsion Engineering Lead/Sr. Propulsion Eng...,The Aerospace Corporation,NaN,"Actively network with contractors,...",https://www.indeed.com/rc/clk?jk=a17655861aa64...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1,El Segundo,CA
4262,Space Systems Test and Evaluation Engineer - E...,The Aerospace Corporation,NaN,The Systems Integration and Test O...,https://www.indeed.com/rc/clk?jk=eab96496fca9c...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1,El Segundo,CA
4263,Sr. Software Engineer - Cyber Security,The Aerospace Corporation,NaN,We support a variety of customers ...,https://www.indeed.com/rc/clk?jk=ec63b4335c6dc...,https://www.indeed.com/cmp/The-Aerospace-Corpo...,3.9,4.0,3.8,Desired: Embedded SoftwareLinuxSystem DesignMa...,3.6,3.5,4.1,El Segundo,CA

In [38]:
df51 = df5[['City', 'State']]

In [66]:
df51  = pd.DataFrame(df51['State'].dropna())

KeyError: 'State'

In [65]:
df51

3                              NJ
4                              NJ
5                              NY
6                              NY
7         NY 10155 (Midtown area)
8                              NY
9                              NY
10       NY 10016 (Gramercy area)
11                             NJ
12                             NY
18                             NJ
19                             NY
20                             NY
21        NY 10018 (Clinton area)
22        NY 10001 (Chelsea area)
23                             NY
24                             NJ
25        NY 10011 (Chelsea area)
26                             NJ
27                             NJ
32                             NY
33                             NY
34                             NY
35                             NY
36                             NY
37                             NY
38                             NY
39                             NY
40        NY 10013 (Tribeca area)
41                             NY
                  ...
4228                           CA
4229                     CA 90245
4230                     CA 90245
4231                           CA
4232                     CA 90245
4233                     CA 90407
4234                           CA
4235                     CA 90245
4236                     CA 90245
4237                     CA 90245
4241                           CA
4242                     CA 90245
4243                     CA 90245
4244                           CA
4245                     CA 90245
4246                     CA 90407
4247                           CA
4248                     CA 90245
4249                     CA 90245
4250                     CA 90245
4254                           CA
4255                     CA 90245
4256                     CA 90245
4257                           CA
4258                     CA 90245
4259                     CA 90407
4260                           CA
4261                     CA 90245
4262                     CA 90245
4263                     CA 90245
Name: State, Length: 2976, dtype: object

In [59]:
df51['City_len'] = [len(x) for x in df51['State'] if x!= None]

ValueError: Length of values does not match length of index

In [51]:
df51['State_len'] = df51['State'].apply(lambda x: len(x) for x in df51['State'] if x!= None)

TypeError: 'generator' object is not callable

In [24]:
df3_new

,Title,Location,Company,Salary,Summary,Description,Review,benefit_rating,comp_rating_overall,culture_rating,job_description,jsecurity_rating,mgmt_rating,wl_bal_rating
0,Python Data Engineer,None,SRS Investment Management,None,You’ll be joining ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,None,None,None,What’s the Job?SRS Investment Management is a ...,None,None,None
1,Applied Machine Learning Scientist/Engineer - ...,None,Bloomberg,None,Information and da...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Bloomberg,3.8,3.9,3.8,"At Bloomberg, our products are fueled by power...",3.4,3.3,3.7
2,EpicCare Analyst,None,NYU Langone Health,None,Analyze data conve...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
3,Data Scientist,"Jersey City, NJ",Carter McKenzie Inc.,"\n $120,000 - $150,000 a year",Data engineering experience with large and/or ...,https://www.indeed.com/company/Carter-McKenzie...,None,None,None,None,Responsibilities: Develop new solutions and st...,None,None,None
4,Associate Data Scientist,"Hoboken, NJ",Wiley,None,Associate Data Scientist. The Asso...,https://www.indeed.com/rc/clk?jk=361c44860efbc...,https://www.indeed.com/cmp/Wiley,3.7,3.9,3.7,"VP, Data Analytics & Insights This position w...",3.1,3.3,4.1
5,Data Scientist,"New York, NY",Rent the Runway,None,Mine the data ecosystem & find fru...,https://www.indeed.com/rc/clk?jk=171566291d439...,https://www.indeed.com/cmp/Rent-the-Runway,3,3.5,3.5,Desired: JavaRPythonAbout Rent the Runway: Rec...,3.1,3.1,3.2
6,Data Scientist (Entry-Level),"New York, NY",First Derivatives plc,None,First Derivatives plc is currently...,https://www.indeed.com/company/First-Derivativ...,https://www.indeed.com/cmp/First-Derivatives-PLC,3,3.2,2.6,Job DescriptionFirst Derivatives plc is curren...,2.9,2.4,2.9
7,Junior Data Scientist,"New York, NY 10155 (Midtown area)",HOMER,None,"As a Junior Data Scientist, you wi...",https://www.indeed.com/rc/clk?jk=dbab22c906a9a...,None,None,None,None,HOMER is looking for an exceptional Junior Dat...,None,None,None
8,NLP and Machine Learning Internship,"New York, NY",Mei Messaging,\n $12.00 - $12.50 an hour,We combine data and machine learni...,https://www.indeed.com/company/Mei/jobs/Nlp-Ma...,None,None,None,None,Mei is a unique messaging app (www.textmei.com...,None,None,None
9,Data Scientist,"New York, NY",Scienaptic Systems Inc,None,Results attribution to core loss e...,https://www.indeed.com/company/Scienaptic-Syst...,None,None,None,None,Job SummaryRole Summary/PurposeThis role is wi...,None,None,None
10,Data Scientist,"New York, NY 10016 (Gramercy area)",Aetna,None,Strong programming and data manipu...,https://www.indeed.com/rc/clk?jk=f096333437c5e...,https://www.indeed.com/cmp/Aetna,3.7,3.8,3.6,Position Mission/Summary: Looking for opportun...,3.3,3.3,3.7
11,Data Scientist,"Nutley, NJ",Modern Meadow,None,As we continue to grow we are seek...,https://www.indeed.com/rc/clk?jk=340824b50f1b3...,None,None,None,None,Modern Meadow™ is pioneering biologically adva...,None,None,None
12,NLP and Machine Learning Recent Grad,"New York, NY",Mei Messaging,\n $25.00 - $25.50 an hour,We combine data and machine learni...,https://www.indeed.com/company/Mei/jobs/Nlp-Ma...,None,None,None,None,Mei is a unique messaging app (www.textmei.com...,None,None,None
13,Research Data Associate,None,NYU Langone Health,None,Extracts data for ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
14,2019 Equity Research Data Analyst,None,Bloomberg,None,2019 Equity Resear...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Bloomberg,3.8,3.9,3.8,"At Bloomberg, our products are fueled by power...",3.4,3.3,3.7
15,Research Data Associate,None,NYU Langone Health,None,Extracts data for ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
16,Research Data Associate-ECHO,None,NYU Langone Health,None,Assist with study ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
17,EpicCare Analyst,None,NYU Langone Health,None,Analyze data conve...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
18,Data Scientist,"Township of Woodbridge, NJ",Nadella Info Technologies Pvt Ltd,\n $65 - $70 an hour,Proven experience as a Data Scient...,https://www.indeed.com/company/Nadella-Info-Te...,None,None,None,None,"Job SummaryRole: Data ScientistLocation: NYC, ...",None,None,None
19,Data Scientist,"New York, NY",Trialspark,None,"As a Data Scientist at Trialspark,...",https://www.indeed.com/rc/clk?jk=50d243af4c3c2...,None,None,None,None,---------- Background ---------- Trialspark i...,None,None,None
20,Data Science Intern,"New York, NY",Vox Media,None,Data Scientists are responsible for delivering...,https://www.indeed.com/rc/clk?jk=5a5f961b5fa31...,https://www.indeed.com/cmp/Vox-Media,3.5,3.9,3.9,Desired: Machine LearningPythonSQLVox Media em...,3.2,3.5,4.2
21,Data Scientist (NYC),"New York, NY 10018 (Clinton area)",DonorsChoose.org,None,Web analytics and event data. Are ...,https://www.indeed.com/rc/clk?jk=553df36b7ebc6...,https://www.indeed.com/cmp/Donorschoose.org,3,4.8,4.5,DonorsChoose.org engages the public in public ...,2.3,4,4.8
22,Data Scientist,"New York, NY 10001 (Chelsea area)",Comcast,None,Freewheel is currently looking to ...,https://www.indeed.com/rc/clk?jk=c25dd7bf92018...,https://www.indeed.com/cmp/Comcast,3.9,3.7,3.5,"FreeWheel, a Comcast company, has superior end...",3.3,3.3,3.5
23,Data & Analysis Intern,"New York, NY",Bright Power,None,The Data & Analysis intern will he...,https://www.indeed.com/rc/clk?jk=383d484aa85eb...,https://www.indeed.com/cmp/Bright-Power,3,3,3,We collect and analyze thousands of utility bi...,2,3,4.5
24,Data Science - Data Scientist - New York,"Jersey City, NJ",Capgemini,None,Candidates should be flexible / wi...,https://www.indeed.com/rc/clk?jk=62a7b89f0d381...,https://www.indeed.com/cmp/Capgemini,3.3,3.8,3.6,Candidates should be flexible / willing to wor...,3.6,3.4,3.7
25,"Data Scientist, Premium Content","New York, NY 10011 (Chelsea area)",Spotify,None,You would be joining Spotify on th...,https://www.indeed.com/rc/clk?jk=a0f5f0cfbe59a...,https://www.indeed.com/cmp/Spotify,3.9,4.4,4.3,As Spotify Premium swells to over 80M subscrib...,3.3,3.4,4
26,Data Scientist,"Woodcliff Lake, NJ",BMW North America,None,Put yourself in the driver's seat ...,https://www.indeed.com/rc/clk?jk=50431d7257479...,https://www.indeed.com/cmp/BMW,3.7,4,3.7,"BMW Financial Services NA, LLC is one of the t...",3.5,3.5,3.7
27,Digital Data Scientist - Marketing Analyst,"Secaucus, NJ",The Children's Place,None,Must be a self-motivator and enjoy...,https://www.indeed.com/rc/clk?jk=69886b973c1f8...,https://www.indeed.com/cmp/The-Children's-Place,3,3.7,3.5,"Location: Secaucus, New Jersey Job Summary: W...",3.1,3.4,3.6
28,Python Data Engineer,None,SRS Investment Management,None,You’ll be joining ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,None,None,None,What’s the Job?SRS Investment Management is a ...,None,None,None
29,2019 Equity Research Data Analyst,None,Bloomberg,None,2019 Equity Resear...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Bloomberg,3.8,3.9,3.8,"At Bloomberg, our products are fueled by power...",3.4,3.3,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,Applied Machine Learning Scientist/Engineer - ...,None,Bloomberg,None,Information and da...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Bloomberg,3.8,3.9,3.8,"At Bloomberg, our products are fueled by power...",3.4,3.3,3.7
1971,Data Scientist,None,Verizon,None,Work in close coll...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Verizon,4.2,3.9,3.7,What you’ll be doing... Responsibilities Busin...,3.4,3.4,3.5
1972,EpicCare Analyst,None,NYU Langone Health,None,Analyze data conve...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
1973,Business Analyst,"New York, NY",Bonobos,None,You will work on the Data Products...,https://www.indeed.com/rc/clk?jk=db1ffed564ad2...,https://www.indeed.com/cmp/Bonobos,3.9,4.3,4.1,Bonobos is looking for a Business Analyst who ...,3.6,3.8,3.8
1974,"Reseach Scientist, Level III (Social Solutions...","Orangeburg, NY 10962",Nathan S. Kline Institute,"\n $25,632 a year",Have coordinated the collection an...,https://www.indeed.com/rc/clk?jk=6d75e91378cab...,None,None,None,None,JOB DESCRIPTION: The Division of Social Soluti...,None,None,None
1975,Data/Finance Analyst,"New York, NY",Netamorphosis,None,Are you our next Data Scientist & ...,https://www.indeed.com/rc/clk?jk=9fedd17bb76c2...,None,None,None,None,About This Position Our Analysts are our #’s p...,None,None,None
1976,Sustainable Operations Analyst Intern,"New York, NY 10011 (Chelsea area)",Natural Resources Defense Council,None,"Excellent data analysis, writing a...",https://www.indeed.com/rc/clk?jk=221d9bc94a484...,https://www.indeed.com/cmp/Natural-Resources-D...,3.8,4.2,4.2,Overview The Natural Resources Defense Council...,3.3,3.8,4.5
1977,Data Marketing Intern,"New York, NY",Feedvisor,None,"We are a team of mathematicians, d...",https://www.indeed.com/rc/clk?jk=588e8cef09df2...,None,None,None,None,"At Feedvisor, we’re just as proud of our produ...",None,None,None
1978,Data Scientist,"Brewster, NY",Alliant Insight,None,Alliant is seeking a Data Scientis...,https://www.indeed.com/rc/clk?jk=c8d5e782e804d...,None,None,None,None,Overview: Alliant is seeking a Data Scientist ...,None,None,None
1979,"Diversity, Inclusion & Engagement Associate","New York, NY",Weill Cornell Medicine,None,Uses data to help guide and suppor...,https://www.indeed.com/rc/clk?jk=6b78ccfe5dbd7...,https://www.indeed.com/cmp/Weill-Medical-Colle...,4,4.1,3.8,Provides administrative and programmatic suppo...,3.6,3.5,4
1980,Assessments Designer,"New York, NY",General Assembly,None,Experience working as a data analy...,https://www.indeed.com/rc/clk?jk=517cba8f82fba...,https://www.indeed.com/cmp/General-Assembly,3.8,4.3,4.1,"Since 2011, General Assembly has transformed t...",3.7,3.9,4
1981,Cryptography Lead –ROAR Data,"New York, NY 10179 (Midtown area)",JP Morgan Chase,None,Morgan CIB Data Science is buildin...,https://www.indeed.com/rc/clk?jk=61b6ac1dfbcc8...,https://www.indeed.com/cmp/JPMorgan-Chase,3.9,3.9,3.7,About J.P. Morgan Corporate & Investment Bank ...,3.5,3.5,3.7
1982,Glass Surface Scientist,"Painted Post, NY 14870",Corning,None,"Experimental design set-up, execut...",https://www.indeed.com/rc/clk?jk=b91ff1c5bcec5...,https://www.indeed.com/cmp/Corning,4,4,3.9,Corning is one of the world’s leading innovato...,3.6,3.6,3.7
1983,AI Research Scientist,None,Bloomberg,None,The infrastructure...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Bloomberg,3.8,3.9,3.8,"At Bloomberg, our products are fueled by power...",3.4,3.3,3.7
1984,Python Data Engineer,None,SRS Investment Management,None,You’ll be joining ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,None,None,None,What’s the Job?SRS Investment Management is a ...,None,None,None
1985,Research Data Associate,None,NYU Langone Health,None,Extracts data for ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
1986,Research Data Associate-ECHO,None,NYU Langone Health,None,Assist with study ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9
1987,Python Data Engineer,None,SRS Investment Management,None,You’ll be joining ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,None,None,None,What’s the Job?SRS Investment Management is a ...,None,None,None
1988,Research Scientist,"Farmingdale, NY 11735",EpiGentek,"\n $67,000 - $79,000 a year",This will include answering techni...,https://www.indeed.com/company/Epigentek/jobs/...,https://www.indeed.com/cmp/Epigentek,3,3.2,3.2,EpiGentek is a New York-based biotechnology co...,3.2,2.8,4
1989,Data Analytics Consultant,"New York, NY 10036",Booz Allen Hamilton,None,"As a data scientist, you can turn ...",https://www.indeed.com/rc/clk?jk=0169dbc35b763...,https://www.indeed.com/cmp/Booz-Allen-Hamilton,3.9,3.9,3.7,Data Analytics Consultant The Challenge: Are y...,3.4,3.5,3.9
1990,AI Research Scientist,"New York, NY","Two Sigma Investments, LLC.",None,Founded by a statistician and a co...,https://www.indeed.com/rc/clk?jk=7b9f667779ba9...,https://www.indeed.com/cmp/Two-Sigma,4.2,3.7,3.3,Two Sigma is different from other investment f...,3,3,4
1991,Senior Data Scientist,"New York, NY",Weight Watchers International,None,Focus on data science and build aw...,https://www.indeed.com/rc/clk?jk=979b0ff951170...,https://www.indeed.com/cmp/Weight-Watchers-Int...,3,3.9,3.8,"Data Scientist At Weight Watchers, we inspire ...",2.9,3.4,3.8
1992,"Senior Data Scientist, Growth Insights","New York, NY 10011 (Chelsea area)",Spotify,None,You’re capable of mentoring more j...,https://www.indeed.com/rc/clk?jk=4d78b45beaf87...,https://www.indeed.com/cmp/Spotify,3.9,4.4,4.3,As Spotify Premium swells to over 80M subscrib...,3.3,3.4,4
1993,Data Intelligence - Research & Development Sci...,"New York, NY 10282 (Tribeca area)",Goldman Sachs,None,Ability to apply fundamental algor...,https://www.indeed.com/rc/clk?jk=e49bd533a80e8...,https://www.indeed.com/cmp/Goldman-Sachs,4,4.1,3.8,MORE ABOUT THIS JOB WHO WE ARE Goldman Sachs ...,3.5,3.6,3.2
1994,"Data Scientist / Senior Strategic Analyst, Com...","New York, NY",Memorial Sloan Kettering,None,Are you passionate about using dat...,https://www.indeed.com/rc/clk?jk=d8a70225b9dbc...,https://www.indeed.com/cmp/Memorial-Sloan-Kett...,4.2,4.2,4,"At Memorial Sloan Kettering (MSK), we’re not o...",3.9,3.6,4
1995,Strategic Relationship Management Data Associate,"New York, NY 10010 (Gramercy area)",Environmental Defense Fund,None,Coordinate data input projects. S/...,https://www.indeed.com/rc/clk?jk=32a2c1750abf3...,https://www.indeed.com/cmp/Environmental-Defen...,4.3,4.3,4.2,Desired: Data EntryManagement ExperienceOvervi...,3.7,3.8,4.6
1996,"Interoperability Specialist, Bureau of Immuniz...","Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,"\n $70,286 - $87,295 a year",-Draft and compile blast communica...,https://www.indeed.com/rc/clk?jk=a3d3aa3b3aa65...,https://www.indeed.com/cmp/New-York-City-Depar...,3.3,3.5,3.3,The mission of the Bureau of Immunization (BOI...,3.2,3.2,3.5
1997,Psychology Assistant,"Bronx, NY",Albert Einstein College of Medicine,None,"Acquire, process and quality check...",https://www.indeed.com/rc/clk?jk=44a87d1c03427...,https://www.indeed.com/cmp/Albert-Einstein-Col...,3.9,4.1,3.9,"ABOUT US Founded in 1955, the Albert Einstein ...",3.6,3.6,4
1998,2019 Equity Research Data Analyst,None,Bloomberg,None,2019 Equity Resear...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Bloomberg,3.8,3.9,3.8,"At Bloomberg, our products are fueled by power...",3.4,3.3,3.7
1999,EpicCare Analyst,None,NYU Langone Health,None,Analyze data conve...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,https://www.indeed.com/cmp/Nyu-Langone-Health,4.1,4.1,3.8,"NYU Langone Health is a world-class, patient-c...",3.7,3.6,3.9

In [79]:
link = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 100 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.
i = 0
results = []
df1 = pd.DataFrame(columns=["Location, alternate"])
for city in set(['Atlanta',
 'Austin',
 'Baltimore',
 'Boston',
 'Charlotte',
 'Chicago',
 'Cincinnati',
 'Columbus',
 'Dallas',
 'Denver',
 'Houston',
 'Indianapolis',
 'Jacksonville',
 'Kansas+City',
 'Los+Angeles',
 'New+York',
 'Miami',
 'Minneapolis',
 'Nashville',
 'Oakland',
 'Philadelphia',
 'Phoenix',
 'Pittsburgh',
 'Portland',
 'San+Diego',
 'San+Francisco',
 'San+Jose',
 'Seattle',
 'St.+Louis',
 'Tomp',
 'Washington%2C+DC']):
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        url = link.format(city, start)
        # Append to the full set of results
        html = requests.get(url)
        soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
        for each in soup.find_all(class_= "result" ):
            try:
                location = each.find('span', {'class':"location" }).text.replace('\n', '')
            except:
                location = None
            
            df1 = df1.append({'alternate':city, 'Location':location}, ignore_index=True)
    sleep(0.5)

In [82]:
df2 = df1[df1['Location'].notnull()]

,"Location, alternate",Location,alternate
3,NaN,"Cincinnati, OH 45202 (Mount Adams area)",Cincinnati
4,NaN,"Cincinnati, OH 45240",Cincinnati
5,NaN,"Cincinnati, OH",Cincinnati
6,NaN,"Cincinnati, OH",Cincinnati
7,NaN,"Cincinnati, OH",Cincinnati
8,NaN,"Cincinnati, OH",Cincinnati
9,NaN,"Cincinnati, OH",Cincinnati
10,NaN,"Cincinnati, OH",Cincinnati
11,NaN,"Cincinnati, OH",Cincinnati
12,NaN,"Cincinnati, OH",Cincinnati
17,NaN,"Cincinnati, OH",Cincinnati
18,NaN,"Cincinnati, OH 45236",Cincinnati
19,NaN,"Cincinnati, OH 45226 (Mount Lookout area)",Cincinnati
20,NaN,"Cincinnati, OH 45202 (Mount Adams area)",Cincinnati
21,NaN,"Cincinnati, OH",Cincinnati
22,NaN,"Cincinnati, OH",Cincinnati
23,NaN,"Cincinnati, OH",Cincinnati
24,NaN,"Hebron, KY 41048",Cincinnati
25,NaN,"Cincinnati, OH",Cincinnati
26,NaN,"Cincinnati, OH 45215 (Roselawn area)",Cincinnati
32,NaN,"Cincinnati, OH 45204 (East Price Hill area)",Cincinnati
33,NaN,"Cincinnati, OH",Cincinnati
34,NaN,"Cincinnati, OH",Cincinnati
35,NaN,"Cincinnati, OH 45275 (Corryville area)",Cincinnati
36,NaN,"Cincinnati, OH",Cincinnati
37,NaN,"Cincinnati, OH",Cincinnati
38,NaN,"Cincinnati, OH",Cincinnati
39,NaN,"Cincinnati, OH",Cincinnati
40,NaN,"Cincinnati, OH",Cincinnati
41,NaN,"Newport, KY",Cincinnati
...,...,...,...
4277,NaN,"San Diego, CA",San+Diego
4278,NaN,"San Diego, CA",San+Diego
4279,NaN,"San Diego, CA",San+Diego
4280,NaN,"San Diego, CA",San+Diego
4281,NaN,"San Diego, CA",San+Diego
4282,NaN,"San Diego, CA 92111",San+Diego
4283,NaN,"San Diego, CA",San+Diego
4284,NaN,"La Jolla, CA",San+Diego
4285,NaN,"San Diego, CA",San+Diego
4286,NaN,"San Diego, CA",San+Diego
4292,NaN,"San Diego, CA",San+Diego
4293,NaN,"La Jolla, CA",San+Diego
4294,NaN,"San Diego, CA",San+Diego
4295,NaN,"San Diego, CA",San+Diego
4296,NaN,"San Diego, CA",San+Diego
4297,NaN,"San Diego, CA",San+Diego
4298,NaN,"San Diego, CA",San+Diego
4299,NaN,"San Diego, CA",San+Diego
4300,NaN,"San Diego, CA",San+Diego
4301,NaN,"San Diego, CA 92122",San+Diego
4306,NaN,"San Diego, CA",San+Diego
4307,NaN,"San Diego, CA",San+Diego
4308,NaN,"San Diego, CA",San+Diego
4309,NaN,"San Diego, CA 92121",San+Diego
4310,NaN,"San Diego, CA",San+Diego
4311,NaN,"San Diego, CA 92121",San+Diego
4312,NaN,"San Diego, CA 92101",San+Diego
4313,NaN,"San Diego, CA",San+Diego
4314,NaN,"San Diego, CA 92121",San+Diego
4315,NaN,"San Diego, CA",San+Diego

In [ ]:
def get_city_state(df,col):
    df = df.join(df[col].str.split(',', 1, expand=True).rename(columns={0:'City', 1:'State'}))
    df['City'] = df['City'].astype(str)
    df['State'] = df['State'].astype(str)
    df['State'] = [x[0:3] for x in df['State'] if x != None]
    df.drop(['Location', 'State'], axis = 1, inplace = True)
    return df

In [84]:
df3 = get_city_state(df2, 'Location')

In [87]:
df4 = df3[['alternate', 'City']]

In [91]:
df4

       alternate        City
3     Cincinnati  Cincinnati
4     Cincinnati  Cincinnati
5     Cincinnati  Cincinnati
6     Cincinnati  Cincinnati
7     Cincinnati  Cincinnati
8     Cincinnati  Cincinnati
9     Cincinnati  Cincinnati
10    Cincinnati  Cincinnati
11    Cincinnati  Cincinnati
12    Cincinnati  Cincinnati
17    Cincinnati  Cincinnati
18    Cincinnati  Cincinnati
19    Cincinnati  Cincinnati
20    Cincinnati  Cincinnati
21    Cincinnati  Cincinnati
22    Cincinnati  Cincinnati
23    Cincinnati  Cincinnati
24    Cincinnati      Hebron
25    Cincinnati  Cincinnati
26    Cincinnati  Cincinnati
32    Cincinnati  Cincinnati
33    Cincinnati  Cincinnati
34    Cincinnati  Cincinnati
35    Cincinnati  Cincinnati
36    Cincinnati  Cincinnati
37    Cincinnati  Cincinnati
38    Cincinnati  Cincinnati
39    Cincinnati  Cincinnati
40    Cincinnati  Cincinnati
41    Cincinnati     Newport
...          ...         ...
4277   San Diego   San Diego
4278   San Diego   San Diego
4279   San Diego   San Diego
4280   San Diego   San Diego
4281   San Diego   San Diego
4282   San Diego   San Diego
4283   San Diego   San Diego
4284   San Diego    La Jolla
4285   San Diego   San Diego
4286   San Diego   San Diego
4292   San Diego   San Diego
4293   San Diego    La Jolla
4294   San Diego   San Diego
4295   San Diego   San Diego
4296   San Diego   San Diego
4297   San Diego   San Diego
4298   San Diego   San Diego
4299   San Diego   San Diego
4300   San Diego   San Diego
4301   San Diego   San Diego
4306   San Diego   San Diego
4307   San Diego   San Diego
4308   San Diego   San Diego
4309   San Diego   San Diego
4310   San Diego   San Diego
4311   San Diego   San Diego
4312   San Diego   San Diego
4313   San Diego   San Diego
4314   San Diego   San Diego
4315   San Diego   San Diego

[2983 rows x 2 columns]

In [90]:
df4['alternate'] = df4.alternate.str.replace("+", " ")

C:\Anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [100]:
df4

       alternate        City
3     Cincinnati  Cincinnati
4     Cincinnati  Cincinnati
5     Cincinnati  Cincinnati
6     Cincinnati  Cincinnati
7     Cincinnati  Cincinnati
8     Cincinnati  Cincinnati
9     Cincinnati  Cincinnati
10    Cincinnati  Cincinnati
11    Cincinnati  Cincinnati
12    Cincinnati  Cincinnati
17    Cincinnati  Cincinnati
18    Cincinnati  Cincinnati
19    Cincinnati  Cincinnati
20    Cincinnati  Cincinnati
21    Cincinnati  Cincinnati
22    Cincinnati  Cincinnati
23    Cincinnati  Cincinnati
24    Cincinnati      Hebron
25    Cincinnati  Cincinnati
26    Cincinnati  Cincinnati
32    Cincinnati  Cincinnati
33    Cincinnati  Cincinnati
34    Cincinnati  Cincinnati
35    Cincinnati  Cincinnati
36    Cincinnati  Cincinnati
37    Cincinnati  Cincinnati
38    Cincinnati  Cincinnati
39    Cincinnati  Cincinnati
40    Cincinnati  Cincinnati
41    Cincinnati     Newport
...          ...         ...
4277   San Diego   San Diego
4278   San Diego   San Diego
4279   San Diego   San Diego
4280   San Diego   San Diego
4281   San Diego   San Diego
4282   San Diego   San Diego
4283   San Diego   San Diego
4284   San Diego    La Jolla
4285   San Diego   San Diego
4286   San Diego   San Diego
4292   San Diego   San Diego
4293   San Diego    La Jolla
4294   San Diego   San Diego
4295   San Diego   San Diego
4296   San Diego   San Diego
4297   San Diego   San Diego
4298   San Diego   San Diego
4299   San Diego   San Diego
4300   San Diego   San Diego
4301   San Diego   San Diego
4306   San Diego   San Diego
4307   San Diego   San Diego
4308   San Diego   San Diego
4309   San Diego   San Diego
4310   San Diego   San Diego
4311   San Diego   San Diego
4312   San Diego   San Diego
4313   San Diego   San Diego
4314   San Diego   San Diego
4315   San Diego   San Diego

[2983 rows x 2 columns]

In [92]:
df4['alternate'].value_counts()

Kansas City         100
Portland            100
New York            100
Phoenix             100
Philadelphia        100
Los Angeles         100
Pittsburgh          100
Columbus            100
Austin              100
San Francisco       100
Boston              100
Houston             100
Baltimore           100
San Diego           100
San Jose            100
Charlotte           100
Denver              100
Indianapolis        100
Minneapolis         100
Washington%2C DC    100
Oakland             100
Seattle             100
Chicago             100
Dallas              100
Atlanta             100
St. Louis           100
Cincinnati           98
Miami                98
Nashville            96
Jacksonville         91
Name: alternate, dtype: int64

In [114]:
df4['City'].value_counts()

San Francisco             157
San Diego                  96
Houston                    94
Austin                     94
Charlotte                  92
New York                   88
Indianapolis               86
St. Louis                  85
Chicago                    83
Cincinnati                 81
Pittsburgh                 80
Jacksonville               77
Atlanta                    76
Columbus                   76
Nashville                  75
Seattle                    71
Phoenix                    66
Portland                   61
Kansas City                60
Boston                     55
Philadelphia               53
Los Angeles                50
Miami                      45
Dallas                     38
Irving                     37
Washington                 37
Denver                     34
Baltimore                  29
Minneapolis                24
Boulder                    24
                         ...
Rock Hill                   1
Whittier                    1
Edina                       1
Ardmore                     1
Monrovia                    1
Saint Bernard               1
Middletown                  1
Annapolis                   1
Cedar Park                  1
La Porte                    1
Dresher                     1
Township of White Bear      1
Newton                      1
Vienna                      1
Melrose Park                1
Marina del Rey              1
Deerfield                   1
Universal City              1
Medford                     1
Arnold                      1
Kulpsville                  1
Beltsville                  1
Melville                    1
Fort Washington             1
Decatur                     1
Creighton                   1
Erlanger                    1
Lombard                     1
Watertown                   1
Quincy                      1
Name: City, Length: 319, dtype: int64

In [160]:
new_df = pd.DataFrame(df4.groupby('City')['alternate'].apply(set)).reset_index()

In [161]:
new_df.columns = ['City', 'center']

In [167]:
new_df['centre'] = new_df['center'].apply(lambda x: list(x))

In [172]:
new_df['centre1'] = [x[0] for x in new_df['centre']]

In [174]:
new_df = new_df[['City', 'centre1']]

In [181]:
new_df = new_df.replace('Washington%2C DC', 'Washington DC')

In [182]:
new_df.to_csv('city_list.csv', index = False)

In [135]:
df4.loc[df4['City'] == 'Lombard', 'alternate'].values

array(['Chicago'], dtype=object)

In [104]:
city_df = pd.DataFrame(df4['City'].value_counts().index)
city_df.columns = ['cities']
city_df

                     cities
0             San Francisco
1                 San Diego
2                   Houston
3                    Austin
4                 Charlotte
5                  New York
6              Indianapolis
7                 St. Louis
8                   Chicago
9                Cincinnati
10               Pittsburgh
11             Jacksonville
12                  Atlanta
13                 Columbus
14                Nashville
15                  Seattle
16                  Phoenix
17                 Portland
18              Kansas City
19                   Boston
20             Philadelphia
21              Los Angeles
22                    Miami
23                   Dallas
24                   Irving
25               Washington
26                   Denver
27                Baltimore
28              Minneapolis
29                  Boulder
..                      ...
289               Rock Hill
290                Whittier
291                   Edina
292                 Ardmore
293                Monrovia
294           Saint Bernard
295              Middletown
296               Annapolis
297              Cedar Park
298                La Porte
299                 Dresher
300  Township of White Bear
301                  Newton
302                  Vienna
303            Melrose Park
304          Marina del Rey
305               Deerfield
306          Universal City
307                 Medford
308                  Arnold
309              Kulpsville
310              Beltsville
311                Melville
312         Fort Washington
313                 Decatur
314               Creighton
315                Erlanger
316                 Lombard
317               Watertown
318                  Quincy

[319 rows x 1 columns]

In [106]:
#new = city_df.merge(df4, how = 'left', left_on = 'cities', right_on = 'alternate')

In [125]:
city_df['new_city'] = df4.loc[(df4['City'] == city_df['cities']), 'alternate']

ValueError: Can only compare identically-labeled Series objects

In [113]:
new['alternate'].value_counts()

San Francisco    100
Charlotte        100
New York         100
Phoenix          100
Philadelphia     100
Los Angeles      100
Pittsburgh       100
Columbus         100
Austin           100
Boston           100
Houston          100
San Diego        100
Portland         100
San Jose         100
Denver           100
Indianapolis     100
Minneapolis      100
Baltimore        100
Kansas City      100
Oakland          100
Seattle          100
Chicago          100
Dallas           100
Atlanta          100
St. Louis        100
Cincinnati        98
Miami             98
Nashville         96
Jacksonville      91
Name: alternate, dtype: int64

In [180]:
new

             cities      alternate                 City
0     San Francisco  San Francisco        San Francisco
1     San Francisco  San Francisco        San Francisco
2     San Francisco  San Francisco        San Francisco
3     San Francisco  San Francisco        San Francisco
4     San Francisco  San Francisco        San Francisco
5     San Francisco  San Francisco        San Francisco
6     San Francisco  San Francisco        San Francisco
7     San Francisco  San Francisco        San Francisco
8     San Francisco  San Francisco        San Francisco
9     San Francisco  San Francisco        San Francisco
10    San Francisco  San Francisco        San Francisco
11    San Francisco  San Francisco        San Francisco
12    San Francisco  San Francisco        San Francisco
13    San Francisco  San Francisco        San Francisco
14    San Francisco  San Francisco        San Francisco
15    San Francisco  San Francisco        San Francisco
16    San Francisco  San Francisco        San Francisco
17    San Francisco  San Francisco        San Francisco
18    San Francisco  San Francisco        San Francisco
19    San Francisco  San Francisco        San Francisco
20    San Francisco  San Francisco        San Francisco
21    San Francisco  San Francisco        San Francisco
22    San Francisco  San Francisco        San Francisco
23    San Francisco  San Francisco        San Francisco
24    San Francisco  San Francisco        San Francisco
25    San Francisco  San Francisco        San Francisco
26    San Francisco  San Francisco        San Francisco
27    San Francisco  San Francisco        San Francisco
28    San Francisco  San Francisco        San Francisco
29    San Francisco  San Francisco        San Francisco
...             ...            ...                  ...
2881        Oakland        Oakland            San Ramon
2882        Oakland        Oakland        San Francisco
2883        Oakland        Oakland        San Francisco
2884        Oakland        Oakland        San Francisco
2885        Oakland        Oakland        San Francisco
2886        Oakland        Oakland        San Francisco
2887        Oakland        Oakland               Dublin
2888        Oakland        Oakland        San Francisco
2889        Oakland        Oakland             Berkeley
2890        Oakland        Oakland        San Francisco
2891        Oakland        Oakland  South San Francisco
2892        Oakland        Oakland        San Francisco
2893        Oakland        Oakland        San Francisco
2894        Oakland        Oakland        San Francisco
2895        Oakland        Oakland        San Francisco
2896        Oakland        Oakland           Emeryville
2897        Oakland        Oakland        San Francisco
2898        Oakland        Oakland        San Francisco
2899        Oakland        Oakland        San Francisco
2900        Oakland        Oakland              Oakland
2901        Oakland        Oakland              Oakland
2902        Oakland        Oakland        San Francisco
2903        Oakland        Oakland              Hayward
2904        Oakland        Oakland        San Francisco
2905        Oakland        Oakland             Berkeley
2906        Oakland        Oakland        San Francisco
2907        Oakland        Oakland        San Francisco
2908        Oakland        Oakland        San Francisco
2909        Oakland        Oakland  South San Francisco
2910        Oakland        Oakland           Pleasanton

[2883 rows x 3 columns]